<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.IniciativaMapper">

    <resultMap type='Iniciativa' id='IniciativasResult'>
        <id property='idIniciativa' column='idIniciativa'/>
        <id property='estado' column='estado'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fecha' column='fecha'/>
    </resultMap>




    <select id="getIniciativas" resultMap="IniciativasResult">
        SELECT i.idIniciativa, i.estado, i.descripcion, i.fecha
        FROM
            INICIATIVAS as i
    </select>


    <select id="getIniciativasPorPalabraClave" resultMap="IniciativasResult">
        SELECT i.idIniciativa, i.estado, i.descripcion, i.fecha
        FROM
            INICIATIVAS as i
                join palabrasclave as p on i.idIniciativa = p.iniciativas_idIniciativa
        WHERE (p.palabra=#{Palabra});

    </select>

    <select id="getIniciativasPorEstado" resultMap="IniciativasResult">
        SELECT i.idIniciativa, i.estado, i.descripcion, i.fecha
        FROM
            INICIATIVAS as i
        WHERE (i.estado =#{estado});

    </select>

    <insert id="insertIniciativas" >
        INSERT INTO iniciativas (estado, descripcion, fecha, usuarios_idUsuario, areas_idArea)
        VALUES ("Otro Nuevo","defecto",now(),3,3);

    </insert>



    <resultMap type='Usuario' id='UsuarioIniciativaResult'>
        <id property='idUsuario' column='idUsuario'/>
        <id property='perfil' column='perfil'/>
        <result property='informacion' column='informacion'/>
        <collection property='iniciativa' ofType='Iniciativa' resultMap="IniciativaResult"/>
    </resultMap>

    <select id="consultarUsuarioPorCredentials" resultMap="UsuarioIniciativaResult">
        SELECT
            p.idUsuario AS idUsuario,
            p.perfil AS perfil,
            p.informacion AS informacion,
            c.idIniciativa AS idIniciativa,
            c.descripcion AS descripcion,
            c.fecha AS fecha
        FROM
            USUARIOS AS p JOIN INICIATIVAS as c ON
                p.idUsuario = c.usuarios_idUsuario
        WHERE
            p.idUsuario = #{id} AND p.contrasena = #{pass}
    </select>

</mapper>